.big-display,
.small-display {
  width: 100%;
  padding-inline: var(--spacing-md);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-light);
  text-align: right;
}

.big-display {
  font-size: var(--font-size-xxl);
  padding-inline: var(--spacing-sm);
  margin-bottom: var(--spacing-xs);
}

.small-display {
  font-size: var(--font-size-sm);
}
